body {
    font-family: Arial;
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

textarea {
    width: 100%;
    height: 100px;
}

ul {
    list-style-type: none;
}

.folder {
    font-weight: bold;
    cursor: pointer;
}